.parent-of-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    
}

.card{
    margin-bottom: 20px;

}

.card-img-top{
    width: 70%;
    margin: 30px auto 0;
}

.price{
    color: crimson;
    font-size: 18px;
    font-weight: 500;
}



.done-pop-up{
    position: fixed;
top: 20px;
right: 50%;

 transform: translateX(50%);



    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
  
    background-color: #74cccc;
    border-radius: 12px;
    width: 30vw;
    text-align: center;
    padding: 20px 0;

    transition: all 0.8s;
}


.dark .done-pop-up {
    background-color: rgba(252, 221, 45, 0.952);
  }

  .show-items{
      position: fixed;

      text-align: center;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    
      padding: 12px 8px;
    
      top: 2vh;
      right: 1vw;
      border-radius: 7px;
    
      background-color: #54a8a8;
  }


  .back-screen{
      z-index: 55;
      background-color: #282A35;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
 
      transform: translateX(110vw);
      transition: all 1s;

      overflow-y: scroll;
  }

  .back-screen #close{
      font-size: 37px;
      opacity: 1 !important;
  }

  
  .back-screen #close:hover{
    color: orange !important;
    
}

.item-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(109, 176, 221);
    border-radius: 10px;
    width: 80vw;
    margin: 50px auto;
    color: rgb(0, 0, 0);
}


.img-title-parent{
    display: flex;
    align-items: center;
    width: 33%;

}

.img-title-parent img {
    border-radius: 10px;
    width: 75px;
    height: auto;
    margin: 4px 0 1px 0;
  }

  .img-title-parent p {
    font-size: 18px;
    margin-right: 10px;
  }

  p{
      margin: 0;
  }

  #input-quantity {
    width: 45px;
    height: 36px;
  
    text-align: center;
    border: 1px solid #56ccf2;
    border-radius: 5px;
    margin-left: 13px;
  }

  .price {
    padding: 7px 8px 0;
    border-radius: 4px;
    color: crimson;
    font-size: 18px;
    font-weight: 500;
  }



  .confirm-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .confirm-buy p {
    margin-left: 20px;
    color: #fff;
    text-align: center;
  
    font-size: 20px;
    font-weight: 500;
  }