/* Comment */
/* 
* Important Information
! Deprecated method, do not use
? Should this method be exposed in the public AP?
TODO:
@param
// Ignore it
*/
* {
  margin: 0;

  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9e4673, #3d4a59);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #9e4673, #3d4a59, #9e4673);
}

/* for Firefox */
html {
  scrollbar-color: #9e4673 #3d4a59;
}
header {
  margin-bottom: 100px;

  background-color: #3d4a59;
  color: white;
  border-radius: 0 0 70px 70px;
}

.dark header {
  background-color: rgba(255, 131, 131, 0.08);
  border-bottom: 1px solid antiquewhite;
}

.dark header h1 {
  background-color: transparent;
}

.dark {
  background-color: #443334;
  color: #fff;
}

.dark main h1 {
  background-color: #9e4673;
}

header h1 {
  margin-bottom: 23px;
}

.parent {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.parent li a {
  color: #fff;
  text-decoration: none;
  margin-top: 6px;
  display: inline-block;
}

.mode {
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  background-color: #3d4a59;
  border: 1.5px solid #ddd;
  cursor: pointer;
  font-size: 1.2rem;
}

.dark .mode {
  box-shadow: 0 0 10px #9e4673;
  background: #9e4673;
}

.mode:hover {
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
  background: #9e4673;
  border: none;
}

li {
  list-style-type: none;
  font-size: 18px;
}

h1 {
  text-align: center;
  padding: 10px 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3d4a59;
  color: #fff;
  border-radius: 17px;
  padding: 15px;
}

section {
  margin-bottom: 100px;
  box-shadow: 5px 5px 25px rgb(179, 172, 172);
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 45px 0;
  transition: all 1s;
}

.dark section {
  box-shadow: 5px 5px 25px rgb(124, 97, 97);
}

.left-section,
.right-section {
  width: 49%;

  text-align: center;
  margin-top: 30px;
}

.left-section h3 {
  font-size: 26px;
  margin: 20px 0;
}

.left-section p {
  font-size: 20px;
  margin: 25px 0;
}

.facebook,
.youtube {
  background-color: royalblue;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.youtube {
  background-color: rgb(255, 62, 62);
}

.my-img {
  border-radius: 50%;
  width: 150px;
  border-right: 2px solid #ff8a00;
  border-left: 2px solid #ff8a00;
  border-bottom: 2px solid #e52e71;
  border-top: 2px solid #e52e71;
}

article h5 {
  font-size: 39px;
  font-weight: 500;
  font-family: "Sacramento", cursive;
  margin-top: 10px;
}

.para {
  font-size: 20px;
}

.flex {
  display: flex;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

.design {
  background-color: #3d4a59;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom: 0;
}

.dark .design {
  background-color: rgba(255, 131, 131, 0.08);
}

.follow {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 16px 0;
  text-align: center;
  margin: 0 auto 10px;
  border-top: 6px solid #3d4a59;

  opacity: 0.9;
  width: 99%;
}

.dark .follow {
  border-top: 6px solid #ffffff;
  box-shadow: 0 7px 93px 0 rgb(255 131 131 / 47%);
  background-color: rgba(255, 131, 131, 0.08);
}

.follow a {
  border: 1px solid #3d4a59;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}

.dark .follow a {
  box-shadow: 0 0 10px #9e4673, 0 0 10px #9e4673, 0 0 0px #9e4673;
  border: 1px solid #fff;
  color: #fff;
}

.follow a:hover {
  padding: 5px 12px;
  background-color: rgb(16, 73, 243);
  color: #fff;
}

.dark .follow a:hover {
  background-color: #fc4364;
}

.mycard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.container {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 12px;
  width: 60%;
  text-align: center;
  padding: 20px 0;
}
.container p {
  font-size: 20px;
}
.active {
  display: block !important;
}
.bigger-contaier {
  background-color: rgb(221, 185, 185);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.dark .card-body {
  color: #000;
}
.flex-pro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dark .please {
  color: #000;
}

/* ---------- L3 Codes ----------  */

/* Generals */
.hide {
  display: none;
}
.show {
  display: block;
}

/* Start hidden ul  */
.hiddenul {
  position: absolute;
  box-shadow: 0 5px 25px 0 rgba(0 0 0 / 60%);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #232943;
  background-color: white;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
}
#changecolor {
  margin-top: 8px;
}
.hiddenul li {
  font-size: 0.9rem;
}
.hiddenul li:hover {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid red;
}
/* End hidden ul  */
.colorsh {
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto 50px auto;
  text-align: center;
}
.sticky,
.sticky1 {
  width: 30%;
  height: 30px;
  display: inline-block;
  background-color: #aa59d5;
  padding-top: 10px;
  border-radius: 20px;
}

/* Random Video & Quotes */
.parentIframe,
.parentquots {
  text-align: center;
  margin-top: 20px;
}
.iframe,
.component {
  border-radius: 25px;
  animation: LTR 1s 1;
}

@keyframes LTR {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.tlc {
  text-align: center;
}
.videosParent,
.quotesParent,
.emojisParent {
  text-align: center;
}
.btnRandomv,
.btnRandomq,
.btnRandomE {
  background: #15d798;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  /* text-align: center; */
  margin: 30px;
}

/* Quotes */

.component {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  width: 750px;
  margin: 0 auto;
  padding: 3rem;
}

.component blockquote.quote {
  position: relative;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 1rem;
}

.component blockquote.DE {
  background: linear-gradient(to right, #039be5 4px, transparent 4px) 0% 0%,
    linear-gradient(to bottom, #039be5 4px, transparent 4px) 0% 0%,
    linear-gradient(to left, #039be5 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, #039be5 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  font-size: 20px;
  font-weight: bold;
}
.component blockquote.quote:before,
.component blockquote.quote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #039be5;
  font-size: 34px;
}

.component blockquote .DE :before {
  content: "\f10e";
  margin-right: -20px;
  bottom: -20px;
  right: 100%;
}
.component blockquote .DE :after {
  content: "\f10d";
  margin-left: -20px;
  left: 100%;
  top: -20px;
  bottom: auto;
}

/* ========== Random Hearts ========== */
.heart {
  position: fixed;
  top: 0px;
  font-size: 40px;
  animation: fall 1s 1 linear forwards;
  animation-duration: 1s;
}

@keyframes fall {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

/** ========== accordion ========== */

.accordionParent .container {
  width: 60%;
  margin: auto;
}
.accordionParent .QA {
  margin-bottom: 70px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #3d4a59;
  color: white;
  padding: 10px 0px 6px 40px;
}
.question .plus {
  padding-right: 40px;
  font-size: 30px;
  cursor: pointer;
}
.QA .answer {
  background-color: #27b4fa;
  border-bottom: 3px solid #1586c8;
  padding: 25px 25px 0px 25px;
  text-align: left;
  color: white;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
}
.QA .activeAnswer {
  /* height: auto; // OR We can do it from JS*/
  opacity: 1;
}

/** ========== HTML accordion ========== */

details {
  width: 60%;
  margin: 50px auto;
  font-size: 20px;
}
details p {
  margin-top: 10px;
  font-style: 16px;
  background-color: #039be5;
  padding: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  color: white;
}

/** ========== 7-Digital Clock ========== */

.clock {
  width: 250px;
  background-color: #039ae5d5;
  padding: 30px;
  text-align: center;
  margin: 35px auto;
  color: white;
  border-radius: 5px;
  /* line-height: 30px; */
}
.clock:hover {
  box-shadow: 5px 5px 17px #039be5;
  background-color: #039be5;
}
.date {
  font-size: 1.2em;
}
.time {
  font-size: 2em;
  font-weight: 600;
  margin-top: 10px;
}

/** ========== 8-Digital Clock ========== */

.parentSlideshow {
  text-align: center;
}
.slideImgs {
  position: relative;
  height: 450px;
  width: 700px;
  margin: 10px auto;
}
.slideImgs img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2vh auto;
  border-radius: 20px;
  /* text-align: center; */
}
.slideImgNumber {
  position: absolute;
  top: 70px;
  left: 30px;
  background-color: #3fabea;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.slideController {
  display: flex;
  /* overflow: auto; */
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
.slideController button {
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
}
.slideActive,
#prev:hover,
#next:hover,
.slideController button:hover {
  background-color: #3fabea;
  padding: 0.9em;
  transition: all 0.1s;
}
#prev:active {
  transform: translateX(-4px);
}
#next:active {
  transform: translateX(4px);
}
